pandas
selenium
webdriver_manager
bs4
numpy
matplotlib
seaborn
requests
folium
langdetect
nltk
textblob_de
openpyxl
geopandas
psycopg2-binary
sqlalchemy
spacy
spacy_fastlang
deep-translator
textblob_de
datasets
transformers
scikit-learn
xgboost